<?xml version='1.0' encoding='utf-8'?>
<widget id="com.career.wrap.tamil.payanam" version="0.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Tamil Payanam</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
	<platform name="android">
        <icon src="res/android/payanam_mdpi.png" density="mdpi" />
        <icon src="res/android/payanam_hdpi.png" density="hdpi" />
        <icon src="res/android/payanam_xhdpi.png" density="xhdpi" />
        <icon src="res/android/payanam_xxhdpi.png" density="xxhdpi" />
        <icon src="res/android/payanam_xxxhdpi.png" density="xxxhdpi" />

		<!--splash src="res/screen/android/splash-port-ldpi.gif" density="port-ldpi"/>
		<splash src="res/screen/android/splash-port-mdpi.gif" density="port-mdpi"/>
		<splash src="res/screen/android/splash-port-hdpi.gif" density="port-hdpi"/>
		<splash src="res/screen/android/splash-port-xhdpi.gif" density="port-xhdpi"/-->

    </platform>	    
</widget>
