<div id="main" class="nav-section ui-page-active" data-role="page">
	<div class="alert alert-info ctgry" role="alert">
	  <img class="ctgryIcon" src="images/arokiyam.png"/>
	  <a href="#/tips/5" class="cat_link alert-link">{{ 'HEALTH_TIPS' | translate }}</a>
	  <span class="badge badge-info">{{arokyam}}</span>
	</div>
	<div class="alert alert-info ctgry" role="alert">
	  <img class="ctgryIcon" src="images/samayal.png"/>
	  <a href="#/tips/3" class="cat_link alert-link">{{ 'COOKING_TIPS' | translate }}</a>
	  <span class="badge badge-info">{{samayal}}</span>
	</div>
	<div class="alert alert-info ctgry" role="alert">
	  <img class="ctgryIcon" src="images/naattu.png"/>
	  <a href="#/tips/10" class="cat_link alert-link">{{ 'TREATMENT' | translate }}</a>
	  <span class="badge badge-info">{{naattu}}</span>
	</div>
	<div class="alert alert-info ctgry" role="alert">
	  <img class="ctgryIcon" src="images/azagu.png"/>
	  <a href="#/tips/6" class="cat_link alert-link">{{ 'BEAUTY_TIPS' | translate }}</a>
	  <span class="badge badge-info">{{azagu}}</span>
	</div>
	<div class="alert alert-info ctgry" role="alert">
	  <img class="ctgryIcon" src="images/thirukural.png"/>
	  <a href="#/tips/11" class="cat_link alert-link">{{ 'KURAL' | translate }}</a>
	  <span class="badge badge-info">{{kural}}</span>
	</div>
</div>
<!--button hm-tap="add_something()">Tap me</button-->