<div id="main" class="nav-section ui-page-active" data-role="page">
	<div class="category" role="alert">
	  <!--img class="ctgryIcon" src="images/arokiyam.png"/-->
	  <a href="#/tips/5" class="cat_link alert-link">{{ 'HEALTH_TIPS' | translate }}</a>
	</div>
	<div class="category" role="alert">
	  <!--img class="ctgryIcon" src="images/azagu.png"/-->
	  <a href="#/tips/6" class="cat_link alert-link">{{ 'BEAUTY_TIPS' | translate }}</a>
	</div>
	<div class="category" role="alert">
	  <!--img class="ctgryIcon" src="images/naattu.png"/-->
	  <a href="#/tips/10" class="cat_link alert-link">{{ 'TREATMENT' | translate }}</a>
	</div>
	<div class="category" role="alert">
	  <!--img class="ctgryIcon" src="images/samayal.png"/-->
	  <a href="#/tips/3" class="cat_link alert-link">{{ 'COOKING_TIPS' | translate }}</a>
	</div>
	<div class="category" role="alert">
	  <!--img class="ctgryIcon" src="images/vettu.png"/-->
	  <a href="#/tips/1096" class="cat_link alert-link">{{ 'VETTU_TIPS' | translate }}</a>
	</div>
	<div class="category" role="alert">
	  <!--img class="ctgryIcon" src="images/maruthuvam.png"/-->
	  <a href="#/tips/1095" class="cat_link alert-link">{{ 'MARUTHUVAM_TIPS' | translate }}</a>
	</div>
	<div class="category" role="alert">
	  <!--img class="ctgryIcon" src="images/thirukural.png"/-->
	  <a href="#/tips/11" class="cat_link alert-link">{{ 'KURAL' | translate }}</a>
	</div>
</div>
