body {
	background-color: #FFFFA9;
}

.main-header {
	background: -webkit-linear-gradient(left top, #372A20, #A2754F); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom right, #372A20, #A2754F); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, #372A20, #A2754F); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom right, #372A20, #A2754F); /
}

.main-title {
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
}

/* Main Div Styling */
.content {
  padding: 50px 0 0 0;
}

/* Align Nav Section */
.nav-section {
	margin : auto;
	text-align : center;
	margin-top : 5px;
}

.category {
	margin: 5px 5px 5px 5px;
  	padding: 15px 5px 15px 5px;	
}

/* Styling for category listing on home page */
ul {
	margin : 5px;
	padding : 0px;
}

ul.list-category li {
  list-style-type: none;
  padding: 10px 3px;
  margin: 10px;
  background: radial-gradient(#F0DBC7, #D8A87E, #7E5D41);
  border-radius: 10px;
}

ul.list-category li a h3 {
	color: #000000;
  	font-weight: bold;	
	font-size: 16px;
	padding: 2px;
	margin: 0px;
}

.article-list-item {
	margin : 3px;
	background-color: transparent;
}

.article-list-item a {
	background-color: transparent;
}

.article-listitem-content {
	display: table-cell;
    width: 90%;
	vertical-align: middle;	
}

.article-listitem-icon {
	display: table-cell;
    width: 100px;
	margin-left : 10px;
	height : 70px;
}

.article-icon-img {
	width: 100px;
	height : 70px;
}

.list-group-item {
  padding : 5px;
}

.list-group-item-heading {
	font-size : 18px;
}

.list-group-item-text {
	font-size : 16px;
}

.article {
	 margin-bottom : 30px; 
}	

.article-head {
	font-size : 18px;
	padding-left : 5px;
	text-align: center;
	font-weight: bold;
}

.article-content {
	font-size : 16px;
	padding : 5px;
	text-align: center;
}

.article-content a {
    margin-bottom: 20px;
    display: block;
}